:root {
    --color_1: #0E0E10;
    --color_2: #18181B;
    --color_3: #19191c;
    --color_4: #262629;
    --color_5: #949495;
    --color_6: #EFEFF1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "Gg Sans";
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* overflow: hidden; */
    background-color: var(--color_1);
    color: var(--color_6);
}

.hide {
    visibility: hidden;
}

button {
    outline: none;
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

input:focus::placeholder {
    color: transparent !important;
}

/**********/
/* HEADER */
/**********/

header {
    width: 100%;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Chat title */

.chat_title-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.05%;
    position: relative;
    font-size: 13px;
    font-weight: 500;
}

.chat_title_avatar-wrapper {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor_pref);
}

.chat_title_avatar {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: contain;
}

.chat_title_avatar-wrapper i {
    color: var(--color_5);
}

.chat_title {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_6);
}

/* Chat app actions */

.chat_app_actions-container {
    width: 225px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_5);
    position: absolute;
    top: 0;
    right: 0;
}

.chat_app_features-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.chat_app_feature {
    width: auto;
    height: 100%;
    aspect-ratio: 1.15;
    border: none;
    outline: none;
    background: transparent;
}

.chat_app_feature i {
    font-size: 19px;
    color: var(--color_5);
}

.chat_app_actions-container hr {
    width: 1px;
    height: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #393939;
}

/* Chat app window actions */

.chat_app_window_actions-container {
    width: 50%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.chat_app_window_action {
    --size: 11px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#minimize span {
    width: var(--size);
    height: 2px;
    background-color: var(--color_5);
}

#maximize span {
    width: var(--size);
    height: auto;
    aspect-ratio: 1;
    border: 2px solid var(--color_5);
}

#close {
    position: relative;
}

#close span {
    width: var(--size);
    height: 2px;
    background-color: var(--color_5);
    position: absolute;
}

#close span:nth-child(1) {
    transform: rotate(-45deg);
}

#close span:nth-child(2) {
    transform: rotate(45deg);
}

/********/
/* MAIN */
/********/

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-shrink: 0; */
}

/* Chat sidebar */

.chat_sidebar {
    width: 72px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.chat_sidebar hr {
    width: 40px;
    height: 0.5px;
    background-color: var(--color_2);
}

.private_messages_last_chat-container {
    width: 100%;
    height: fit-content;
    padding-bottom: 9px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    gap: 5px;
    position: relative;
}

.private_messages_last_chat-container::after {
    content: "";
    width: 32px;
    height: 1px;
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    background-color: var(--color_4);
    /* border-bottom: 1px var(--color_4) solid; */
}

.sidebar_button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.sidebar_button::before {
    content: "";
    width: 3px;
    height: 21px;
    display: block;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: -15px;
    translate: 0 -50%;
    clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%);
    opacity: 0;
}

.sidebar_button:hover::before {
    height: 21px;
    opacity: 1;
    transition: opacity 0.2s;
}

.sidebar_button.active::before {
    height: 40px;
    opacity: 1;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    transition: opacity 0.2s, height 0.15s 0.4s;
}

.show_private_messages_avatar-wrapper,
.show_last_chat_avatar-wrapper,
.server_avatar-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5865F2;
    /* background-color: #5765EC; */
}

.show_private_messages_avatar-wrapper,
.server_avatar-wrapper {
    border-radius: 10px;
    border-radius: 27.5%;
}

.show_private_messages_avatar-wrapper {
    background-color: transparent;
}

.show_private_messages_avatar-wrapper:hover {
    background-color: #5865F2;
    transition: background 0.2s;
}

.show_private_messages-container:active {
    translate: 0 1px;
}

.show_private_messages-container.active .show_private_messages_avatar-wrapper {
    background-color: #5865F2;
}

.show_last_chat_avatar-wrapper {
    border-radius: 50%;
    background-color: var(--bgcolor_pref);
}

.show_private_messages_avatar,
.show_last_chat_avatar,
.server_avatar {
    height: auto;
    object-fit: contain;
}

.show_private_messages_avatar,
.server_avatar {
    width: 24px;
}

.show_last_chat_avatar {
    width: 25px;
}

.servers-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.server-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chat */

.chat-container {
    width: calc(100% - 70px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.top_section-container {
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 11px 0 0 0;
    border-top: 1px solid var(--color_4);
    border-left: 1px solid var(--color_4);
    border-bottom: 1px solid var(--color_4);
}

.search-container {
    width: 303px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#chat_search {
    width: 284px;
    height: 33px;
    outline: none;
    border: 1px solid var(--color_2);
    border-radius: 8px;
    background-color: #212125;
    color: var(--color_6);
    font-weight: 500;
}

#chat_search::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color_6);
    font-weight: 500;
}

/* Off chat */

.off_chat-container,
.on_chat-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_3);
    position: relative;
}

.off_chat-container {
    display: none;
}

.on_chat-container {
    display: flex;
}

.users_groups_actions-container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.users_groups_actions-title {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.users_groups_actions_buttons-container {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.users_group_action {
    width: auto;
    height: 95%;
    aspect-ratio: 1.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users_groups_add_new_group {
    width: 125px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* On chat */

.chat_room_name-container {
    width: 170px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 9px;
    position: relative;
}

.chat_room_avatar-wrapper {
    width: 24px;
    height: auto;
    aspect-ratio: 1;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bgcolor_pref);
    position: relative;
}

.chat_room_avatar {
    width: 15px;
    height: auto;
}

.chat_room_profile_status-wrapper {
    width: 13px;
    height: auto;
    aspect-ratio: 1;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color_3);
    position: absolute;
    bottom: -10%;
    right: -10%;
}

[data-view="chatuser"] .chat_room_profile_status-wrapper {
    display: flex;
}

.chat_room_profile_status {
    --diameter: 64%;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: #778181;
}

.chat_room_profile_status[data-status="busy"] {
    background-color: red;
    clip-path: polygon(0 0, 15% 37.5%, 15% 62.5%, 85% 62.5%, 85% 37.5%, 15% 37.5%, 0 0, 100% 0, 100% 100%, 0 100%);
}

.chat_room_profile_status[data-status="sleep"] {
    background-color: var(--color_1);
    --shadow: orange;
    box-shadow: inset 0 -3px 0 0 var(--shadow), inset 0 -3px 0 1px var(--shadow);
    rotate: z -45deg;
}

.chat_room_profile_status[data-status="offline"],
.chat_room_profile_status[data-status="invisible"] {
    border: 3px solid #778181;
    background-color: var(--color_3);
}

.chat_room_profile_status[data-status=""] {
    visibility: hidden;
}

.chat_room_name {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_room_end_section-container {
    width: 460px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 5px;
}

.chat_room_actions-container {
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.chat_room_action {
    width: 30px;
    height: 100%;
    /* aspect-ratio: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_5);
    font-size: 17px;
    position: relative;
}

.chat_room_action::after {
    content: "";
    width: auto;
    min-height: 24px;
    height: auto;
    padding: 5px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333232;
    border-radius: 7px;
    background-color: #272729;
    font-size: 14px;
    font-weight: 500;
    color: var(--color_6);
    position: absolute;
    top: 48px;
    left: 50%;
    z-index: 1;
    translate: -50% 0;
    visibility: hidden;
}

.chat_room_action:hover::after {
    visibility: visible;
}

.chat_room_action:hover {
    color: #a3a3a3;
}

#chat_room_vocal_call::after {
    content: "Démarrer un appel vocal";
    width: 156px;
}

#chat_room_video_call::after {
    content: "Démarrer un appel vidéo";
    width: 150px;
}

#chat_room_pined_messages::after {
    content: "Messages épinglés";
    width: 120px;
}

#chat_room_add_friends::after {
    content: "Ajouter des amis au groupe privé";
    width: 150px;
}

#chat_room_hide_profile::after {
    content: "Masquer le profil d'utilisateur";
    width: 124px;
    color: var(--color_6);
}

#chat_room_pined_messages i {
    rotate: 45deg;
}

.chat_room_search-container {
    width: 52%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_room_search-container {
    width: 270px;
    height: 100%;
    color: var(--color_5);
}

#chat_room_search {
    width: 96%;
    height: 31px;
    padding-left: 8px;
    outline: none;
    border: 1px solid #313135;
    border-radius: 7px;
    background-color: #151516;
    font-size: 13px;
    font-weight: 500;
    position: relative;
}

.chat_room_search-container::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f002";
    font-size: 15px;
    color: var(--color_5);
    padding-bottom: 3px;
    position: absolute;
    top: 50%;
    right: 2.5%;
    translate: 0 -50%;
}

.chat_room_search::placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color_5);
}

/* Main section */

.main_section-container {
    width: 100%;
    height: calc(100% - 49px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* Left panel */

.left_panel {
    width: 303px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-left: 1px solid var(--color_4);
}

.chat_users-container,
.rooms-container {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

[data-view="chatuser"] .chat_users-container {
    display: flex;
}

/* Chat users */

.features-container {
    width: 100%;
    height: 140px;
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2px;
    border-bottom: 1px solid var(--color_3);
}

.features-container .feature {
    height: 37px;
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--color_5);
    gap: 3px;
    border-radius: 9px;
    cursor: pointer;
    user-select: none;
}

.features-container .feature:hover {
    background-color: #1f1d1dad;
    transition: background 0.2s;
}

.features-container .feature:hover .feature_title {
    color: var(--color_6);
    transition: color 0.2s;
}

.features-container .feature.active .feature_title {
    color: var(--color_6);
}

.feature_logo {
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature_title {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Private messages */

.private_messages {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users_private-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    user-select: none;
}

.private_messages-title,
.user_private-container {
    width: 100%;
    height: 40px;
    padding-left: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #817e7e;
}

.user_private-container {
    width: 95%;
    height: 41px;
    padding-bottom: 1px;
    border-radius: 9px;
    padding-left: 0;
}

.private_messages-title {
    height: 35px;
}

.user_private_avatar-wrapper {
    width: auto;
    height: 33px;
    aspect-ratio: 1;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bgcolor_pref);
    position: relative;
}

.user_private_profile_status-wrapper {
    width: 15px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color_1);
    position: absolute;
    bottom: -6%;
    right: -6%;
}

.user_private_profile_status {
    --diameter: 64%;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: #778181;
}

.user_private_profile_status[data-status="busy"] {
    background-color: red;
    clip-path: polygon(0 0, 15% 37.5%, 15% 62.5%, 85% 62.5%, 85% 37.5%, 15% 37.5%, 0 0, 100% 0, 100% 100%, 0 100%);
}

.user_private_profile_status[data-status="sleep"] {
    background-color: var(--color_1);
    --shadow: orange;
    box-shadow: inset 0 -3px 0 0 var(--shadow), inset 0 -3px 0 1px var(--shadow);
    rotate: z -45deg;
}

.user_private_profile_status[data-status="offline"],
.user_private_profile_status[data-status="notvisible"] {
    border: 3px solid #778181;
    background-color: var(--color_1);
}

.user_private_avatar {
    width: 19px;
    height: auto;
}

.user_private_name {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    color: var(--color_5);
}

.user_private-container:hover {
    background-color: #313336ad;
    transition: background 0.2s;
}

.user_private-container:hover .user_private_name {
    color: var(--color_6);
    transition: color 0.2s;
}

.user_private-container.active .user_private_name {
    color: var(--color_6);
}

/* Rooms */

.room-container {
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    border-radius: 9px;
    font-size: 17px;
    font-weight: 500;
    color: #817e7e;
    cursor: pointer;
    user-select: none;
}

.room_logo {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_name {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--color_5);
}

.room-container:hover {
    background-color: #1f1d1dad;
    transition: background 0.2s;
}

.room-container:hover .room_name {
    color: var(--color_6);
    transition: color 0.2s;
}

.room-container.active .room_name {
    color: var(--color_6);
}

[data-view="rooms"] .rooms-container {
    display: flex;
}

.left_panel_button:active {
    background-color: #312e2ead !important;
}

.left_panel_button.active {
    background-color: #313336ad !important;
}

/* Chat window */

.chat_window-container {
    width: 100%;
    height: 100%;
    background-color: var(--color_3);
    color: var(--color_6);
    position: relative;
}

.chat_window {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.chat_message-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
}

.chat_message-left_section {
    width: 72px;
    height: 100%;
    padding-top: 2px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.chat_message_user_avatar-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bgcolor_pref);
    user-select: none;
    position: relative;
}

.chat_message_user_profile_status-wrapper {
    width: 15px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color_1);
    position: absolute;
    bottom: -6%;
    right: -6%;
}

.chat_message_user_profile_status {
    --diameter: 64%;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: #778181;
}

.chat_message_user_profile_status[data-status="busy"] {
    background-color: red;
    clip-path: polygon(0 0, 15% 37.5%, 15% 62.5%, 85% 62.5%, 85% 37.5%, 15% 37.5%, 0 0, 100% 0, 100% 100%, 0 100%);
}

.chat_message_user_profile_status[data-status="sleep"] {
    background-color: var(--color_1);
    --shadow: orange;
    box-shadow: inset 0 -3px 0 0 var(--shadow), inset 0 -3px 0 1px var(--shadow);
    rotate: z -45deg;
}

.chat_message_user_profile_status[data-status="offline"],
.chat_message_user_profile_status[data-status="notvisible"] {
    border: 3px solid #778181;
    background-color: var(--color_1);
}

.chat_message_user_avatar {
    width: 25px;
    height: auto;
    object-fit: contain;
}

.chat_message-main_section {
    width: calc(100% - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 3px;
}

.chat_message-top_section {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.chat_message_user_name,
.chat_message_date {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.chat_message_user_name {
    color: var(--color_pref);
    font-size: 14px;
}

.chat_message_date {
    color: var(--color_5);
    font-size: 11px;
}

.chat_message-bottom_section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.chat_message {
    width: 100%;
    min-height: 20px;
    height: auto;
    padding-right: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 15px;
    color: var(--color_6);
}

.chat_message_to_send-container {
    width: 98.75%;
    min-height: 55px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    background-color: #232327;
    position: absolute;
    bottom: 23px;
    left: 50%;
    translate: -50%;
    color: var(--color_5);
    border: 1px solid var(--color_4);
}

.chat_message_to_send_special_actions-container {
    width: 56px;
    min-height: 55px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-shrink: 0;
    align-self: start;
    color: var(--color_5);
}

.chat_message_to_send_special_actions {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_message_to_send_special_actions:hover i {
    color: var(--color_6);
}

#message_to_send {
    width: 100%;
    min-height: 100%;
    /* height: fit-content; */
    field-sizing: content;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    border: none;
    font-size: 16px;
    color: var(--color_6);
    font-weight: 400;
    background-color: transparent;
    resize: none;
    overflow: hidden;
}

#message_to_send::placeholder {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    color: #706e6e;
    font-weight: 400;
}

.chat_message_to_send_actions-container {
    width: 198px;
    min-height: 55px;
    height: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: start;
    flex-shrink: 0;
}

.chat_message_to_send_action {
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_message_to_send-container i {
    font-size: 18px;
    color: #c3c1c1;
}

.chat_message_to_send_action i:hover {
    color: var(--color_6);
}

#message_to_send_gif_images:hover,
#message_to_send_stickers:hover,
#message_to_send_games:hover {
    animation: actions_hover 0.75s linear;
}

@keyframes actions_hover {
    33% {
        rotate: z 7deg
    }

    66% {
        rotate: z -7deg
    }
}

/* Right panel */

.right_panel {
    width: 267px;
    height: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color_3);
    border-left: 1px solid var(--color_4);
}

/* Connection status panel */

[data-view="rooms"] .right_panel {
    width: 267px;
    padding: 20px 8px;
}

.connection_status_panel {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.connection_status-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connection_status-title {
    width: 100%;
    height: 25px;
    padding: 0 3.5%;
    display: flex;
    gap: 5px;
    font-size: 13px;
    color: var(--color_5);
}

.connection_status_users-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.connection_status_user-container {
    width: 100%;
    height: 39px;
    padding: 0 7%;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 9px;
    cursor: pointer;
}

.connection_status_user_avatar-wrapper {
    width: auto;
    height: 32px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--bgcolor_pref);
    position: relative;
}

.connection_status_user_avatar {
    width: 20px;
    padding-bottom: 1px;
    height: auto;
}

.connection_status_user_profile_status-wrapper {
    width: 15px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--color_1);
    position: absolute;
    bottom: -6%;
    right: -6%;
}

.connection_status_user_profile_status {
    --diameter: 64%;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: #778181;
}

.connection_status_user_profile_status[data-status="busy"] {
    background-color: red;
    clip-path: polygon(0 0, 15% 37.5%, 15% 62.5%, 85% 62.5%, 85% 37.5%, 15% 37.5%, 0 0, 100% 0, 100% 100%, 0 100%);
}

.connection_status_user_profile_status[data-status="sleep"] {
    background-color: var(--color_1);
    --shadow: orange;
    box-shadow: inset 0 -3px 0 0 var(--shadow), inset 0 -3px 0 1px var(--shadow);
    rotate: z -45deg;
}

.connection_status_user_profile_status[data-status="offline"],
.connection_status_user_profile_status[data-status="notvisible"] {
    border: 3px solid #778181;
    background-color: var(--color_1);
}

.connection_status_user_profile_status-wrapper:has(.connection_status_user_profile_status[data-status="offline"]),
.connection_status_user_profile_status-wrapper:has(.connection_status_user_profile_status[data-status="notvisible"]) {
    visibility: hidden;
}

.connection_status_user-container:not(:hover, .active):has(.connection_status_user_profile_status[data-status="offline"]),
.connection_status_user-container:not(:hover, .active):has(.connection_status_user_profile_status[data-status="notvisible"]) {
    filter: brightness(45%);
}

.connection_status_user_name {
    width: auto;
    height: 100%;
    padding-left: 2%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    font-size: 15px;
    color: var(--color_pref);
}

.connection_status_user-container:hover {
    background-color: #28292bad;
    transition: background 0.2s;
}

.connection_status_user-container:hover .connection_status_user_name {
    color: var(--color_6);
    transition: color 0.2s;
}

.connection_status_user-container.active .connection_status_user_name {
    color: var(--color_6);
}

.connection_status_user-container.active {
    background-color: #333335 !important;
}

.connection_status_user-container:active {
    background-color: #333335 !important;
}

[data-view="rooms"] .connection_status_panel {
    display: flex;
}

/* Chat user profile panel */

[data-view="chatuser"] .right_panel {
    width: 340px;
    padding: 0;
}

.chat_user_profile_panel {
    --bgcolor_pref: #ffa42b;
    --bgcolor_primary: #272729;
    --bgcolor_secondary: #2e2e31;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--bgcolor_primary);
}

.chat_user_profile-top_section {
    width: 100%;
    height: 120px;
    flex-shrink: 0;
    position: relative;
    background-color: var(--bgcolor_pref);
}

.chat_user_profile_features-container {
    width: 85px;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.chat_user_profile_feature {
    width: 32px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #0e0e109d;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s;
    position: relative;
}

.chat_user_profile_feature:hover {
    background-color: #0e0e10b7;
}

.chat_user_profile_feature::before {
    content: "";
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272729;
    border: 1px solid #333232;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: -42px;
    visibility: hidden;
}

.chat_user_profile_add::before {
    content: "Ajouter";
    width: 72px;
    left: 50%;
    translate: -50% 0;
}

.chat_user_profile_plus::before {
    content: "Plus";
    width: 50px;
    left: -73%;
}

.chat_user_profile_feature::after {
    content: "";
    width: 8px;
    height: auto;
    aspect-ratio: 2;
    background-color: #272729;
    position: absolute;
    top: -8px;
    left: 50%;
    translate: -50% 0;
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    visibility: hidden;
}

.chat_user_profile_feature:hover::before,
.chat_user_profile_feature:hover::after {
    visibility: visible;
}

.chat_user_profile_avatar-container {
    width: 92px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bgcolor_primary);
    position: absolute;
    bottom: 0;
    left: 3%;
    translate: 0 40%;
    cursor: pointer;
    transition: filter 0.2s;
    user-select: none;
}

.chat_user_profile_avatar-container:hover {
    filter: brightness(60%);
}

.chat_user_profile_avatar-wrapper {
    --diameter: 87%;
    width: var(--diameter);
    height: var(--diameter);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bgcolor_pref);
    user-select: none;
}

.chat_user_profile_avatar {
    width: 49px;
    height: auto;
    user-select: none;
}

.chat_user_profile_status-wrapper {
    width: 28px;
    height: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bgcolor_primary);
    position: absolute;
    bottom: 4%;
    right: 4%;
}

.chat_user_profile_status-wrapper:has([data-status=""]) {
    visibility: hidden;
}

.chat_user_profile_status {
    --diameter: 64%;
    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    background-color: #778181;
}

.chat_user_profile_status[data-status="online"] {
    background-color: #778181;
}

.chat_user_profile_status[data-status="busy"] {
    background-color: red;
    clip-path: polygon(0 0, 15% 37.5%, 15% 62.5%, 85% 62.5%, 85% 37.5%, 15% 37.5%, 0 0, 100% 0, 100% 100%, 0 100%);
}

.chat_user_profile_status[data-status="sleep"] {
    background-color: var(--color_1);
    --shadow: orange;
    box-shadow: inset 0 -5px 0 0 var(--shadow), inset 0 -5px 0 2px var(--shadow);
    rotate: z -45deg;
}

.chat_user_profile_status[data-status="offline"],
.chat_user_profile_status[data-status="notvisible"] {
    border: 5px solid #778181;
    background-color: var(--bgcolor_primary);
}

.chat_user_profile-bottom_section {
    width: 100%;
    height: calc(100% - 120px);
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.chat_user_profile_name_username-container {
    width: 100%;
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    flex-shrink: 0;
}

.chat_user_profile_name-container {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    user-select: none;
}

.chat_user_profile_username-container {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    user-select: none;
}

.chat_user_profile_name:hover,
.chat_user_profile_username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.chat_user_profile_details-container {
    width: 100%;
    height: 121px;
    padding: 2% 4.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: var(--bgcolor_secondary);
}

.chat_user_profile_details_about_me-container,
.chat_user_profile_details_member_since-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat_user_profile_details_about_me_title,
.chat_user_profile_details_member_since_title,
.chat_user_profile_details_about_me_content,
.chat_user_profile_details_member_since_content {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.chat_user_profile_details_about_me_title,
.chat_user_profile_details_member_since_title,
.chat_user_profile_details_member_since_content {
    user-select: none;
}

.chat_user_profile_details_about_me_title,
.chat_user_profile_details_member_since_title {
    height: 50%;
    font-size: 12px;
    font-weight: 600;
}

.chat_user_profile_details_about_me_content,
.chat_user_profile_details_member_since_content {
    height: 50%;
    font-size: 13px;
}

.chat_user_profile_in_common_servers-container {
    width: 100%;
    height: 50px;
    padding: 2% 4.5%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-shrink: 0;
    gap: 2px;
    border-radius: 8px;
    font-size: 14px;
    background-color: var(--bgcolor_secondary);
    cursor: pointer;
    user-select: none;
}

.chat_user_profile_in_common_servers_arrow {
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-size: 16px;
}

[data-view="chatuser"] .chat_user_profile_panel {
    display: flex;
}